{% extends 'base.html.twig' %}

{% block title %}Mon panier | La Boutique Française!
{% endblock %}

{% block content %}
	<h1>Mon Panier</h1>
	retrouver tous les articles ajoutés dans votre panier
	<hr>
	<div class="example-wrapper">

		<pre>{{ dump(cart) }}</pre>

		<table class="table">

			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Quantity</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
				</tr>
			</thead>

			<tbody class="table-group-divider">
				{% for product in cart %}
					<tr>
						<th scope="row"> {{}} </th>
						<td> {{}} </td>
						<td> {{}} </td>
						<td> {{}} </td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

{% endblock %}
