{% extends 'base.html.twig' %}

{% block title %}Mon compte | La Boutique Française{% endblock %}

{% block content %}
<h1>Mon comte</h1>

Bienvenue {{ app.user.firstname }} dans votre compte. Gérez vos informations depuis cet espace

<hr>

 <a href="{{path('app_account_password')}}">Modifier mon mot de passe</a><br>
 2. ajouter mes adresses<br>
 3. page gestion de commande<br>
{% endblock %}
