{% extends 'base.html.twig' %}

{% block title %}Mon compte | La Boutique Française{% endblock %}

{% block content %}
<h1>Mon comte</h1>

Bienvenue {{ app.user.firstname }} dans votre compte. Gérez vos informations depuis cet espace

<hr>

 1. modifier le mot de passe<br>
 2. ajouter mes adresses<br>
 3. page gestion de commande<br>
 <hr>
{% endblock %}
