{% extends 'base.html.twig' %}

{% block title %}Mon compte | Modifier mon mot de passe
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>


	<a href="{{path('app_account')}}">Retourner à mon compte</a><br>

	<hr>

	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}

	{% form_theme form 'bootstrap_5_layout.html.twig' %}
	{# Appel de la fonction twig : form et on passe en param la variable form du src/Controller/AccountPasswordController.php qui contient le formulaire à afficher#}
	{{form(form)}}
		<hr>
{% endblock %}

