{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}


{% block content %}

    <!-- Three columns of text below the carousel -->
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez nosproduits les plus vendus</p>
    <div class="d-flex mx-auto justify-content-center">

        {% for product in products %}

            <div class="d-flex my-5 mx-auto">
            {% include "product/single_product.html.twig" %}
            </div><!-- /.d-flex -->
            
        {% endfor %}
       
    </div><!-- /.d-flex -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 my-auto">
            <h2 class="featurette-heading m-0">Une équipe de passionnés <br><span class="text-muted">avec un grand savoir faire.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5 my-auto">
            <img src="{{ asset('assets/illustration/home_couturier.jpg') }}" alt="Un savoir-faire Français" class="img-fluid">  
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2 my-auto">
            <h2 class="featurette-heading m-0">Venez à notre rencontre <br><span class="text-muted"> dans nos boutiques <br></span> en France</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5 order-md-1 my-auto">
                <img src="{{ asset('assets/illustration/home_boutique.jpg') }}" alt="Une boutique ouverte toute l'année" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


{% endblock %}