body {
    position: relative;
    min-height: 100vh;
}

.navbar-itme-custom, .navbar-itme-custom > a {
    color: white;

}

.footer-custom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 19px;
}

.btn-address{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;

}

.block-small{
    max-width: 600px;
    margin: 0 auto;

}