body {
    height: 100vh;
    padding-bottom: 0;
}

.navbar-itme-custom, .navbar-itme-custom > a {
    color: white;

}

.footer-custom {
    text-align: center;
    width: 100%;
    background-color: #dfeaff;
    padding: 25px 0 10px 0;

}

.marketing{
    min-height: 79vh;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 19px;
}

.btn-address{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;

}

.block-small{
    max-width: 600px;
    margin: 0 auto;

}

legend{
    font-weight: bold;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 10px;
}

.order-sumary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}